
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerOrderLabel">Create or edit a CustomerOrder</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="customerOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="customerOrder.name"
                    required ng-minlength="2" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contactTitle">ContactTitle</label>
            <input type="text" class="form-control" name="contactTitle" id="field_contactTitle"
                    ng-model="customerOrder.contactTitle"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contactFirstName">ContactFirstName</label>
            <input type="text" class="form-control" name="contactFirstName" id="field_contactFirstName"
                    ng-model="customerOrder.contactFirstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contactSurname">ContactSurname</label>
            <input type="text" class="form-control" name="contactSurname" id="field_contactSurname"
                    ng-model="customerOrder.contactSurname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tel">Tel</label>
            <input type="text" class="form-control" name="tel" id="field_tel"
                    ng-model="customerOrder.tel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mob">Mob</label>
            <input type="text" class="form-control" name="mob" id="field_mob"
                    ng-model="customerOrder.mob"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="customerOrder.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address1">Address1</label>
            <input type="text" class="form-control" name="address1" id="field_address1"
                    ng-model="customerOrder.address1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address2">Address2</label>
            <input type="text" class="form-control" name="address2" id="field_address2"
                    ng-model="customerOrder.address2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address3">Address3</label>
            <input type="text" class="form-control" name="address3" id="field_address3"
                    ng-model="customerOrder.address3"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_town">Town</label>
            <input type="text" class="form-control" name="town" id="field_town"
                    ng-model="customerOrder.town"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postCode">PostCode</label>
            <input type="text" class="form-control" name="postCode" id="field_postCode"
                    ng-model="customerOrder.postCode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_products">Products</label>
            <input type="text" class="form-control" name="products" id="field_products"
                    ng-model="customerOrder.products"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_interested">Interested</label>
            <input type="text" class="form-control" name="interested" id="field_interested"
                    ng-model="customerOrder.interested"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_paid">Paid</label>
            <input type="number" class="form-control" name="paid" id="field_paid"
                    ng-model="customerOrder.paid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="customerOrder.notes"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
